:root {
  --color-hover: #ffffff;
  --color-disabled: rgba(66, 86, 122, 0.5);
  --color--background:  #f4f5f9;
  --color--text: #42567a;
  --color--subTitle: #3877ee;
  --color--second-slider-arrow: #3877ee;
  --color--line: rgba(66, 86, 122, 0.1);
  --color--circle: rgba(66, 86, 122, 0.5);
  --color--button: rgba(66, 86, 122);
  --color--button-disabled: rgba(66, 86, 122, 0.5);
  --color-start-number: #5d5fef;
  --color-end-number: #ef5da8;
}
