@font-face {
  font-family: 'BebasNeue';
  src: url('../assets/fonts/BebasNeue.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  src: url('../assets/fonts/PTSans.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

