@forward 'variables';
@forward 'colors';
@forward 'fonts';

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

footer,
header,
nav,
section,
main {
  display: block;
}

ol,
ul {
  list-style: none;
}
