@mixin title {
  font-family: 'PTSans', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  color: var(--color--text);
}

@mixin sub_title{
  font-family: 'BebasNeue', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color--subTitle);
}

@mixin description{
  font-family: 'PTSans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--color--text);
}

@mixin date($color){
  font-family: 'PTSans', sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: center;
  color: $color;
}

@mixin font-PTSans-property($font-weight: 400, $font-size: 16px, $line-height: 150%, $color: var(--color--text)) {
  font-family: 'PTSans', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin font-Bebas-property($font-weight: 400, $font-size: 16px, $line-height: 150%, $color: var(--color--text)){
  font-family: 'PTSans', sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}



