@use '../../styles/_mixins.scss' as mixins;


.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color--background);
  .titleWrapper{
    margin-top: 170px;
    display: flex;
    align-items: center;
  }

  .title{
    margin-left: 75px;
    @include mixins.title;
  }

  .content{
   border: 1px solid var(--color--line);
   margin: 0 auto;
   max-width: 1440px;
   flex: 1;
   //min-height: 100vh;

   display: flex;
   flex-direction: column;
   position: relative;

   .numbersWrapper{
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      gap: 125px;
      .dateStart{
        @include mixins.date(var(--color-start-number));
      }

      .dateEnd{
        @include mixins.date(var(--color-end-number));
      }
    }

   &:after, &:before{
      display: block;
      content: '';
      border: 1px solid var(--color--line);
      top: 50%;
      left: 50%;
      position: absolute;
    }

   &:before {
     transform: translate(-50%, -50%) rotate(90deg);
     width: calc(100vh - 2px);
   }

   &:after {
     transform: translate(-50%, -50%);
     width: 100%;
   }

   .circleWrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 536px;
     height: 530px;
     border-radius: 50%;
     border: 1px solid var(--color--line);
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, 0);

    .item{
       width: 6px;
       height: 6px;
       border-radius: 50%;
       background-color: var(--color--text);

       &:hover{
         //display: flex;
         //width: 56px;
         //height: 56px;
         //border-radius: 50%;
         //align-items: center;
         //justify-content: center;
         //background: var(--color--background);
         //border: 1px solid var(--color--line);
       }
     }

    .active{
       display: flex;
       width: 56px;
       height: 56px;
       border-radius: 50%;
       align-items: center;
       justify-content: center;
       background: var(--color--background);
       border: 1px solid var(--color--line);
     }
   }

   .circleButtons{
     margin-left: 75px;
     position: absolute;
     bottom: 30%;

     .text{
       font-family: 'PTSans', sans-serif;
       font-weight: 400;
       font-size: 14px;
       color: var(--color--text);
       margin-bottom: 20px;
     }

     .group{
       display: flex;
       gap: 20px;

       .button{
         display: flex;
         align-items: center;
         justify-content: center;
         color: var(--color--text);
         border: 1px solid var(--color--button);
         width: 50px;
         height: 50px;
         border-radius: 50%;
         background-color: transparent;

         &:hover{
           background-color: var(--color-hover);
         }

         &:disabled{
           border: 1px solid var(--color--button-disabled);
         }

       }
     }
   }

   .slider{
      margin: auto 75px 75px;

      .sliderItem{
        width: 30%;
        .subTitle{
          @include mixins.sub_title;
        }

        .description{
          font-family: 'PTSans', sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: #42567a;
        }

      }
    }
 }
}





