@use '../../styles/_mixins.scss' as mixins;

.wrapper {
  background: var(--color--background);
  padding: 0 3.5rem;

  .content {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color--line);
    margin: 0 auto;
    padding-top: 170px;
    max-width: 1440px;
    position: relative;
    min-height: 100vh;

    @media (max-width: 992px) {
      padding-top: 100px;
    }

    .titleWrapper {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      .title {
        margin-left: 75px;
        @include mixins.title;
      }
    }

    .numbersWrapper {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      gap: 125px;
      @media(max-width: 1400px) {
        gap: 50px;
      }
      .dateStart {
        @include mixins.date(var(--color-start-number));
        @media(max-width: 1400px) {
          font-size: 100px;
        }
      }

      .dateEnd {
        @include mixins.date(var(--color-end-number));
        @media(max-width: 1400px) {
          font-size: 100px;
        }
      }
    }

    &:after,
    &:before {
      display: block;
      content: '';
      border: 1px solid var(--color--line);
      top: 50%;
      left: 50%;
      position: absolute;
      z-index: 100;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
      width: calc(100vh - 2px);
    }

    &:after {
      transform: translate(-50%, -50%);
      width: 100%;
    }

    .circleWrapper {
      width: 536px;
      height: 530px;
      border-radius: 50%;
      border: 1px solid var(--color--line);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 250;

      .item {
        cursor: pointer;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--color--text);
        z-index: 100;
      }

      .active {
        cursor: pointer;
        display: flex;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: var(--color--background);
        border: 1px solid var(--color--line);
        z-index: 100;
      }

      .circleTitle {
        position: absolute;
        left: 130%;
        @include mixins.font-PTSans-property(700, 20)
      }
    }

    .circleButtons {
      margin-left: 75px;
      position: absolute;
      bottom: 30%;

      .text {
        @include mixins.font-PTSans-property($font-size: 14);
        margin-bottom: 20px;
      }

      .group {
        display: flex;
        gap: 20px;

        .button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color--text);
          border: 1px solid var(--color--button);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            background-color: var(--color-hover);
          }

          &:disabled {
            border: 1px solid var(--color--button-disabled);
          }
        }
      }
    }

    .slider {
      padding: 0 75px;
      width: 100%;

      .sliderItem {
        .subTitle {
          margin-bottom: 15px;
          @include mixins.sub_title;
        }

        .description {
          @include mixins.description;
        }

        @media(max-width: 768px) {

        }
      }
    }
  }
}
